<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <meta name="description" content="お部屋情報プラットフォームInfownersのアバウトページです。">
 <meta name="keywords" content="サイトキーワードを,で区切って入力">
 <link rel="stylesheet" href="sample.css">
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <![endif]-->
 <script src="sample.js"></script>
 </head>
 
 <body>

<div id="content_about">
<%= image_tag 'about1.png', :class => "about_images", :id => "about1" %>
<%= image_tag 'about2.png', :class => "about_images" %>
<%= image_tag 'about3.png', :class => "about_images" %>
<%= image_tag 'about4.png', :class => "about_images" %>
<%= image_tag 'about5.png', :class => "about_images" %>

 
 
</div>

<!--<div class="for_bottomline">-->
<!-- <h1 class="page_title">Infownersとは？</h1>-->
<!--</div>-->
 
 <!----- フッター ----->
<!-- <footer></footer>-->
 <!----- フッター END ----->
 </body>
</html>