<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <meta name="description" content="サイトキャプションを入力">
 <meta name="keywords" content="サイトキーワードを,で区切って入力">
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <![endif]-->
 <script src="sample.js"></script>
 </head>
 
 <body>
 
 <!--メインコンテンツ-->
 
 
 <h1>シドニー</h1>
<% @posts.each do |post| %>
<%= post.suburb %>
<%= post.title %>
<%= post.rent%>
<%= post.roomtype%>
<%= post.gender%>
<%= link_to('詳細ページへ', "/posts/#{post.id}")%>
<% end %>

 <!----- メインコンテンツ END ----->
 
 <!----- フッター ----->
 <footer>フッター</footer>
 <!----- フッター END ----->
 </body>
</html>