<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>サイトタイトル</title>
 <meta name="description" content="サイトキャプションを入力">
 <meta name="keywords" content="サイトキーワードを,で区切って入力">
 <!--[if lt IE 9]>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
 <![endif]-->
 <script src="sample.js"></script>
 </head>
 
 <body id="body_new">
 <!----- メインコンテンツ ----->
 <article id="form_design">
 <h1>出品ページの作成</h1>
<%= form_for @post, url: posts_create_path do |f| %> 
<h5 class="form_titles">タイトル</h5>
 <%= f.text_field :title %>  
<h5 class="form_titles">画像のアップロード</h5>
<%= f.file_field :image %>
<h5 class="form_titles">都市選択</h5>
 <p>表示のない都市は今後追加予定のため少々お待ちください。</p>
 <label><%= f.radio_button :city, "Gold Coast" %>Gold Coast</label>
 <label><%= f.radio_button :city, "Brisbane" %>Brisbane</label>
 <label><%= f.radio_button :city, "Cains" %>Cains</label>
 <label><%= f.radio_button :city, "Sydney" %>Sydney</label>
 <label><%= f.radio_button :city, "Melbourne" %>Melbourne</label>
 <h5 class="form_titles">サバーブ選択</h5>
 <%= f.text_field :suburb %>
  <h5 class="form_titles">お部屋タイプ選択</h5>
 <label><%= f.radio_button :roomtype, "オウン" %>オウン</label>
 <label><%= f.radio_button :roomtype, "シェア" %>シェア</label>
 <h5 class="form_titles">レント</h5>
 <label><%= f.number_field :rent %>ドル/週</label>
 <%= f.check_box :utility ,{}, "別途（詳細は説明欄参照）", "レントに含む" %>水道電気代別
 <%= f.check_box :wifi ,{}, "別途（詳細は説明欄参照）", "レントに含む" %>Wi-Fi代別
 <h5 class="form_titles">ボンド</h5>
 <label><%= f.number_field :bond %>ドル</label>
 <h5 class="form_titles">募集性別</h5>
 <label><%= f.radio_button :gender, "男性のみ募集" %>男性のみ募集</label>
 <label><%= f.radio_button :gender, "女性のみ募集" %>女性のみ募集</label>
 <label><%= f.radio_button :gender, "男女問わず募集" %>男女問わず募集</label>
 <h5 class="form_titles">オキミヤゲ</h5>
 <label><%= f.radio_button :okimiyage, "有（詳細は説明欄参照）" %>有</label>
 <label><%= f.radio_button :okimiyage, "無" %>無</label>
 <h5 class="form_titles">最低入居期間</h5>
  <%= f.text_field :minimum_stay, value:"例）１ヶ月"%>
 <h5 class="form_titles">入居可能日</h5>
 <%= f.date_select :move_in_date %>
 <h5 class="form_titles">同居人構成</h5>
 <label>男性<%= f.select :sharemate_male, [["０人", "０人"], ["1人", "1人"], ["２人", "２人"], ["３人以上", "３人以上"]] %></label></br>
 <label>女性<%= f.select :sharemate_female, [["０人", "０人"], ["1人", "1人"], ["２人", "２人"], ["３人以上", "３人以上"]] %></label>
 <h5 class="form_titles">喫煙</h5>
 <label><%= f.radio_button :smoking, "不可" %>不可</label>
 <label><%= f.radio_button :smoking, "可" %>可</label>
 <label><%= f.radio_button :smoking, "一部可" %>一部可</label>
 <h5 class="form_titles">カップル入居</h5>
 <label><%= f.radio_button :couple, "不可" %>不可</label>
 <label><%= f.radio_button :couple, "可" %>可</label>
 <h5 class="form_titles">説明</h5>
 <%= f.text_area :description %>
 <h5 class="form_titles">販売価格</h5>
 <label><%= f.number_field :price %>ドル</label>
  <p><%= f.submit value: '出品' %></p>
<% end %>
 </article>
 <!----- メインコンテンツ END ----->
 </body>
</html>