<!DOCTYPE html>
<html>
  <head>
    <title>Infowners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-white mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag'logo.png', id: 'logo'%></a>
        <div class="collapse navbar-collapse justify-content-start">
            <ul class="navbar-nav">
                
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">Infownersとは？</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">安心に取引できる仕組み</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">よくある質問</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/posts/new">お部屋情報を販売する</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/index">お部屋情報を探す</a>
                    <!--本当は都市選択の画面へ飛ばす-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ログイン</a>
                </li>
            </ul>
        </div>
    </nav>
    </header>
    <%= yield %>
  </body>
</html>
